fastapi
uvicorn
langchain
langchain-community
langchain-openai
chromadb
bs4
python-dotenv
sqlalchemy
passlib[bcrypt]
python-jose[cryptography]
python-multipart
pymupdf
bcrypt<4.1.0
google-genai
google-api-python-client
exa-py
fastembed